In [2]:
#importing libraries

In [59]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import warnings

In [66]:
warnings.filterwarnings('ignore')

In [60]:
#load dataset

In [67]:
df=pd.read_csv("BitcoinPrice.csv")

In [68]:
df.head()

                  Date        Price
0  2018-08-25 00:00:00  6719.429231
1  2018-08-26 00:00:00  6673.274167
2  2018-08-27 00:00:00  6719.266154
3  2018-08-28 00:00:00  7000.040000
4  2018-08-29 00:00:00  7054.276429

In [69]:
df.tail()

                    Date         Price
360  2019-08-20 00:00:00  10746.507692
361  2019-08-21 00:00:00  10169.094167
362  2019-08-22 00:00:00  10030.746667
363  2019-08-23 00:00:00  10255.977500
364  2019-08-24 00:00:00  10158.540833

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    365 non-null    object
 1   Price   365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [71]:
df.drop(['Date'],1,inplace=True)

In [72]:
df.head()

         Price
0  6719.429231
1  6673.274167
2  6719.266154
3  7000.040000
4  7054.276429

In [12]:
#predicting 30 days in future

In [73]:
p_days=30

In [74]:
df['Prediction']=df[['Price']].shift(-p_days)

In [75]:
df.head()

         Price   Prediction
0  6719.429231  6639.304167
1  6673.274167  6412.459167
2  6719.266154  6468.631667
3  7000.040000  6535.476667
4  7054.276429  6677.342500

In [26]:
#seperate x and y

In [76]:
X=np.array(df.drop(['Prediction'],1))

In [77]:
X=X[:len(df)-p_days]

In [78]:
X.shape

(335, 1)

In [31]:
#creating y as np array

In [80]:
Y=np.array(df['Prediction'])

In [81]:
Y=Y[:-p_days]

In [82]:
Y.shape

(335,)

In [36]:
#spli the data

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [86]:
p_days_array=np.array(df.drop(['Prediction'],1))[-p_days]

In [87]:
print(p_days_array)

[9774.2575]

In [41]:
#Random Forest Regressor

In [88]:
from sklearn.ensemble import RandomForestRegressor

In [89]:
rf=RandomForestRegressor(n_estimators=1000,random_state=1)

In [90]:
rf.fit(X_train,Y_train)

RandomForestRegressor(n_estimators=1000, random_state=1)

In [91]:
print('Random Forest Accuracy:{:.2f}%'.format(rf.score(X_test,Y_test)*100))

Random Forest Accuracy:86.53%

In [46]:
#Prediction

In [92]:
rf_redict=rf.predict(X_test)

In [93]:
print(rf_redict)

[11314.82255333  4465.05459256 10435.35370179  5691.25924667
 10316.7679225   4586.99818917  4046.97037583  8617.23033917
  8203.8931241   4075.11125917 12139.76283513  4217.39660833
  5907.72331667  7083.749675    4794.05735083  3679.91717154
  4108.5302525   4548.13589759 10183.30734417 10531.76481821
 10181.95172417  3913.98686092 10336.91533417  7153.63211353
  7160.66974494  6431.694755    3962.38977917  6695.08220083
  7218.48432167  3848.67198083  5142.19664167  3768.37392429
  6837.40502667  6332.95012833  5317.60474776  4079.798575
  3848.67198083  3793.33218263  6769.78367051 11243.420335
  3894.2463475  11506.88464083  3637.91806109 10194.72885083
  3867.47249988  4004.21929     8254.84289833  6769.78367051
  5154.72662679  3890.68625917  9555.22187417  6389.38274786
  6500.36714583  5609.17583667  5045.764925    7149.6792275
  4074.74709927  6614.31479635  4088.13856244 11365.38202183
  5609.17583667  7173.82254494  4905.20152917  3558.58862269
 10120.08584667  4418.94549667  5717.23495917]

In [94]:
print(Y_test)

[10690.83333333  3822.62666667 10851.84833333  4671.97
 10169.09416667  6299.39916667  5364.99166667  8114.9325
  8543.03        3867.13833333 12668.62916667  5277.88333333
  5697.92333333  7894.92666667  3791.54583333  3454.19461538
  3752.27166667  3589.26083333 10455.73       11412.12416667
 10158.54083333  3868.4875     10746.50769231  5863.52333333
  8063.89583333  6531.60166667  3619.96416667  6550.47416667
  7765.68833333  3827.69083333  5527.80166667  3881.37923077
  5654.35333333  6363.79583333  4263.78333333  3933.95416667
  3827.4875      3888.70166667  6248.63583333 11886.88615385
  3994.34833333  9539.7125      4025.02583333  9988.9475
  3610.74833333  4035.855       7338.52083333  6563.00916667
  4026.63583333  4020.12583333 11788.06916667  6538.79
  6481.426       7926.705       3558.92416667  6562.64166667
  3417.1675      6372.06333333  4107.34083333  9500.32416667
  7896.51083333  7979.575       5255.61416667  6596.27615385
 10292.38333333  6260.64583333  4548.7975    ]

In [98]:
df.head()

         Price   Prediction
0  6719.429231  6639.304167
1  6673.274167  6412.459167
2  6719.266154  6468.631667
3  7000.040000  6535.476667
4  7054.276429  6677.342500